/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.theory-container {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.theory-img {
  width: 100%;
}

.theory-container .more_inf {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .theory-container { 
    text-align: center;
  }

}

.checklist-form {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.checkbox-label,
.add-item-input-form-style,
.input-add-style {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add-task-wrapper {
  display: flex;
}

ul {
  margin: 0;
  padding: 0px;
}

li, 
h3 {
  list-style: none;
}

input,
button {
  outline: none;
}

.edit-task-btn,
.delete-tusk,
.add-task-btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.edit-task-btn:hover,
.delete-tusk:hover,
.add-task-btn:hover {
  color: #3a3a3a;
}
/* Heading */
.task-title,
.label-add-item[for="add-task"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.add-item-input-form-style,
.input-add-style {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.add-item-input-form-style,
.input-add-style {
  color: #333;
}
/* New Task */
.label-add-item[for="add-task"] {
  display: block;
  margin: 0 0 20px;
}
.add-item-input-form-style-full {
  width: 318px;
}
/* Task list */
.task-checkbox {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-task-list {
  vertical-align: middle;
  margin: 0 10px;
}

.checkbox-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.input-add-style {
  width: 226px;
  vertical-align: middle;
}

.delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
  vertical-align: middle;
}

.delete-img:hover {
  transform: rotateZ(0);
}
/* Completed */
.checkbox-label-completed {
  text-decoration: line-through;
  color: #888;
}
/* Edit Task */
.input-add-style{
  display: none;
}

.input-add-style-edit {
  display: inline-block;
  width: 224px;
}

.edit-checkbox-label {
  display: none;
}